{
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", "safari >= 7", "ie 9"],
      "node": "4"
    }
  }]],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
