node_modules
*.log
dist
packages/*/lib
packages/**/test
coverage
packages/helpers/index.js*
packages/core/README.md
docs/_site
docs/files
.nyc_output
/tests/browser/precompiled-templates.js
/samples/express/js/nunjucks.js
/samples/express/js/templates.js
