language: node_js

dist: xenial
sudo: false  

node_js:
  - '11'
  - '10'
  - '8'

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn install

script:
  - yarn test

after_success:
  - yarn run codecov
