<!DOCTYPE html>
<html>
  <head>
    <title>A quick app</title>

    <style>
      body {
        background-color: #ccffcc;
      }

      .footer {
        margin-top: 5em;
        font-size: .75em;
      }
    </style>

    <script src="require.js" data-main="app.js"></script>
    <!-- <script src="/nunjucks-dev.js"></script> -->
    <!-- <script src="/templates.js"></script> -->
  </head>
  <body>
    {% block content %}{% endblock %}

    <div class="footer">
      {% block footer %}(c) James Long 2012{% endblock %}
    </div>
  </body>
</html>
